*.fdo
*.udo
*.bit
*.bgn
*.map
*.log
*.cmd_log
*.html
wlft*
planAhead*
*.lso
*.ngc
*.ngr
*.prj
*.stx
*.syr
*.xst
*.xrpt
*.bld
*.drc
*.ncd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.ucf
*.xpi
*.xwbt
*.mrp
*.ngm
*.txt
*.csv
*.xml
*.tcl
transcript
*.wlf
*.ngd
*.unroutes
*.ut
